<h1>New Room</h1>

<%= form_for @room do |f| %>
  <%= f.label 'Room Number' %>
  <%= f.number_field :number %><br>
  <%= f.label 'Guest ID' %>
  <%= f.number_field :guest_id %><br>
  <%= f.label 'Hotel ID' %>
  <%= f.number_field :hotel_id %><br>
  <%= f.submit %><br>
<% end %>