<h1>New Hotel</h1>

<%= form_for @hotel do |f| %>
  <%= f.label 'Hotel Name' %>
  <%= f.text_field :name %><br>
  <%= f.label 'Age of Hotel' %>
  <%= f.number_field :age %><br>
  <%= f.label 'Capacity' %>
  <%= f.number_field :capacity %><br>
  <%= f.submit %><br>
<% end %>